/* body{
    background-color : black;
} */

/* *{
    margin : 0;
    padding : 0;
} */

.container{
    border : 1px solid white;
    /* padding: 30%; */
    margin-right: 10%;
    margin-left : 10%;
    background-color: black;
}

.header{
    /* border : 1px solid  orangered; */
    /* padding: 1%; */
    padding : 0.01%;
    /* padding-bottom : 1%;  */
    background-color: orangered;
    width : 70%;
    margin-top : 5%;
    margin-left : 16%;
    text-align: center;
    /* text-align: justify; */
    text-transform: uppercase;
    
    
}

.content{
    /* border : 1px solid skyblue; */
    padding: 5%;
    /* margin-top : 3%; */
    margin-left : 20%;
    margin-right: 20%;
}

.footer{
    /* border :1px solid yellow; */
    /* padding: 0.01%; */
    /* padding-bottom: 0.01%; */
    background-color: orangered;
    width : 35%;
    /* margin-top : 5%; */
    margin-left : 33%;
    text-align: center;
    /* margin-bottom: 5%; */
    margin-top : -3%;
    font-size: 15px;

}

h1{
    color : white;
}

P{
    COLOR : white;
}

h3{
    COLOR : white;
}

h2{
    color : white;
    font-size : 30px;
    text-align: right;
}

.left-side{
    text-align: left;
}
